@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-muted: var(--muted);
  --color-surface: var(--surface);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
}

:root {
  --primary: #00677f;
  --secondary: #565e74;
  --muted: #6c797f;
  --surface: #ffffff;
  --background: #f9f9f9;
  --foreground: #1a1c1c;
  --border: #bbc9cf;
}

.dark {
  --primary: #a4e6ff;
  --secondary: #c5c6cf;
  --muted: #859399;
  --surface: #1c1b1b;
  --background: #131313;
  --foreground: #e5e2e1;
  --border: #3c494e;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground antialiased;
  }
  button {
    @apply cursor-pointer;
  }
}
